#*#
*.beam
*.class
*.hi
*.o
*.plt
*~
.*
*.pyc
*.Rout
data/
deps/
dist/
ebin/
results/
stats/stat_results/
stats/*.Rout
stats/*.csv
competition/log/*.log
competition/wsdemo-snap
competition/node_modules
competition/cljwsdemo/target/
