*.beam
*.class
*.hi
*.o
*.plt
*~
.*
*.pyc
data/
deps/
dist/
ebin/
competition/log/*.log
competition/wsdemo-snap
*.o
*.beam
*.plt
*.hi
*~
\#*#
*.class
node_modules
results/
stats/stat_results/
stats/counts.csv
stats/*.Rout
