*.Rout
*.beam
*.class
*.hi
*.o
*.plt
*.pyc
*~
.*
\#*#
competition/cljwsdemo/target/
competition/log/*.log
competition/node_modules
competition/wsdemo-snap
competition/wsdemo-go-gonet
competition/pypy-1.9
competition/supervisord.pid
competition/wsdemo-go-gonet
competition/play-2.0.1*
competition/wsdemo-playframework-2/project/target/
competition/wsdemo-playframework-2/target/
competition/wsdemo-playframework-2/wsdemo-1.0-SNAPSHOT/
competition/cowboy-*/
data
deps/
dist/
ebin/
node_modules
results/
stats/*.Rout
stats/*.csv
stats/db
stats/stat_results/
Vagrantfile
erl_crash.dump
