{deps, [
       {ecsv, ".*", {git, "git://github.com/jeromeschneider/ecsv.git", "master"}},
       {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
       {xmlrpc, ".*", {git, "git://github.com/etnt/xmlrpc.git", "master"}},
       {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {tag, "1.1.0"}}},
       {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
       {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "master"}},
       {eper, ".*", {git, "https://github.com/massemanet/eper.git", "master"}}
]}.
