{deps, [
       {ecsv, ".*", {git, "https://github.com/refuge/ecsv.git", {tag, "0.3"}}},
       {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "6a9845fedf04c3d465b5d3bc259e5b0e1a1219ea"}},
       {xmlrpc, ".*", {git, "git://github.com/etnt/xmlrpc.git", "a60831ac7d9a82c82986afeae5ae5652b323e1e1"}},
       {eleveldb, ".*", {git, "git://github.com/basho/eleveldb.git", {tag, "1.1.0"}}},
       {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.6.0"}}},
       {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {tag, "0.7.4"}}},
       {eper, ".*", {git, "https://github.com/massemanet/eper.git", "master"}}
]}.
