% -*- erlang -*-
[
{wsdemo_bench, [
         {host, "localhost"},
         {port, 8000},
         {seconds, 10},
         {clients, 10},
         {db_root, "data/"},
         {nodes, ['server-manager@127.0.0.1']},
         {servers, [
                    "erlang-cowboy"
                   ]}
               ]}
].
