% -*- erlang -*-
[
{sasl, [
        {sasl_error_logger, {file, "/var/log/wsdemo-local-demo.log"}}
]},
{wsdemo_bench, [
                {host, "127.0.0.1"},
                {port, 8000},
                {seconds, 10},
                {clients, 100},
%                {servers, ["erlang-cowboy"]},
                {db_root, "data/local-demo"}
               ]}
].
