% -*- erlang -*-
[
{sasl, [
        {sasl_error_logger, {file, "/var/log/wsdemo-localhost.log"}}
]},
{wsdemo_bench, [
                {host, "127.0.0.1"},
                {port, 8000},
                {seconds, 10},
                {clients, 100},
                {db_root, "/tmp"},
%                {servers, ["erlang-cowboy"]},
                {nodes, ['server-manager@127.0.0.1']}
               ]}
].
